<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Open Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary">Bienvenue {{ pseudo }}</ion-text>
  <br/>
  <ion-text color="primary">Score : {{ score }} / 10</ion-text>
    <h2 class="ion-text-center" [innerHTML]="currentQuestion?.question"></h2>
    <ion-button color="tertiary" (click)="readText(currentQuestion?.question)">Lire la question</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let response of currentQuestion?.listAnswers" size="6">
          <ion-button expand="block" (click)="answer(response)" class="unknown" [ngClass]="{'bad': nextQuestion && !response.isCorrect, 'good': nextQuestion && response.isCorrect}" [innerHTML]="response.label">
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" *ngIf="nextQuestion && index < listQuestions.length - 1" (click)="loadNextQuestion()">Question suivante</ion-button>
    <ion-button expand="full" *ngIf="nextQuestion && index >= listQuestions.length - 1" [routerLink]="['/score', score]">Voir le score</ion-button>
    <ion-toast
      [isOpen]="isToastOpen"
      [message]="'Votre score est de ' + score"
      [duration]="4000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
</ion-content>
