.unknown {
    --background: gray;
}

.bad {
    --background: #F075AA;
}

.good {
    --background: #ADD899;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}